<div>
  <h3>User info</h3>
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <table class="table">
    <tbody>
      <tr></tr>
      <tr>
        <th>
          <p>name</p>
        </th>
        <th>
          <p><%= user.name %></p>
        </th>
      </tr>
      <tr>
        <th>
          <P>introduction</P>
        </th>
        <th>
          <p><%= user.introduction %></p>
        </th>
      </tr>
    </tbody>
  </table>
  <%# if user.id == current_user.id %>
    <p><%= link_to "", edit_user_path(user), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %></p>
  <%# end %>
  <h3>New book</h3>
  <%= form_with model:book, local: true do |f| %>
    <div class="form-group">
      <label>Title</label>
      <%= f.text_area :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <label>Opinion</label>
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "Create Book", class: "btn btn-success" %>
    </div>
  <% end %>
</div>
